/*Variables*/

:root {
  --basic-black: #000000;
  --basic-gray-darker: #D5D5D5;
  --basic-gray-dark: #DFDFDF;
  --basic-gray: #EEEEEE;
  --basic-green-darker: #00AA62;
  --basic-green-dark: #00BC6C;
  --basic-green: #00CA74;
  --basic-pink-darker: #D7373B;
  --basic-pink-dark: #E74246;
  --basic-pink: #FB565A;
  --basic-yellow-darker: #E5A722;
  --basic-yellow-dark: #EAB534;
  --basic-yellow: #EFC84A;
  --basic-white: #FFFFFF;

  --special-gray-darker: #283136;
  --special-gray-dark: #666666;
  --special-gray: #999999;

}

/*Global*/

body {
  min-width: 1200px;
  margin: 0;
  padding: 0px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Main navigation*/

.header {
  background-color: var(--basic-gray);
}

.main-navigation { /*нужно ли тут дублировать font-size?*/
  font-size: 16px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*User navigation*/

.site-navigation a,
.basket-navigation {
  color: var(--basic-black);
}

.site-navigation a:hover,
.site-navigation a:focus,
.basket-navigation:hover,
.basket-navigation:focus {
  color: var(--basic-pink);
}

/*Buttons*/

.button {
  font: inherit;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
}

.button-pink {
  background-color: var(--basic-pink);
}

.button-pink:hover,
.button-pink:focus {
  background-color: var(--basic-pink-dark);
}

.button-pink:active {
  color: var(--basic-pink);
  background-color: var(--basic-pink-darker);
}

.button-green {
  background-color: var(--basic-green);
}

.button-green:hover,
.button-green:focus {
  background-color: var(--basic-green-dark);
}

.button-green:active {
  color: var(--basic-green);
  background-color: var(--basic-green-darker);
}

.button-yellow {
  background-color: var(--basic-yellow);
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: var(--basic-yellow-dark);
}

.button-yellow:active {
  color: var(--basic-yellow);
  background-color: var(--basic-yellow-darker);
}

.button-gray {
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

.button-gray:hover,
.button-gray:focus {
  background-color: var(--basic-gray-dark);
}

.button-gray:active {
  color: var(--special-gray);
  background-color: var(--basic-gray-darker);
}

/*Intro*/

.intro {
  background-color: var(--basic-gray);
}

.intro p {
  margin: 0;
}

p.intro-title {
  margin-bottom: 25px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

/*Skills*/

.skills-item-title {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.skills ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*About*/

/*History*/

.about p,
.about ul {
  margin: 0;
  padding: 0;
}

p.history-title {
  margin-bottom: 32px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about h3 {
  margin-bottom: 23px;
  line-height: 24px;
  text-transform: uppercase;
}

.about ul {
  list-style: none;
}

/*Features*/

.features-items p
.features-items h3 {
  margin: 0;
  padding: 0;
}

.features-title {
  margin-bottom: 31px;
  line-height: 45px;
  text-align: center;
}

.features-items {
  list-style: none;
}

.features-items p {
  line-height: 18px;
}

.features-items p.features-number {
  margin-bottom: 11px;
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
}

.features-items sup {
  font-size: 26px;
  line-height: 40px;
}

/*Partners*/

.partners ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Catalog sorting*/

.catalog-title {
  margin-bottom: 108px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  background-color: var(--basic-gray);
}

.catalog-grid p,
.catalog-features p,
.catalog-form h2 {
  margin: 0;
  padding: 0;
}

.catalog-form h2 {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-sorting {
  list-style: none;
}

.catalog-sorting a{
  font: inherit;
  color: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.radio-button-label,
.checkbox {
  line-height: 19px;
  color: var(--special-gray-darker);
}

.catalog-grid {
  margin-bottom: 46px;
}

.catalog-features {
  margin-bottom: 50px;
}

/*Catalog cards*/

.catalog-card-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.catalog-card-text,
.catalog-card-title {
  margin: 0;
  padding: 0;
}

.catalog-card-title {
  margin-bottom: 12px;
  color: inherit;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-card-text {
  margin-bottom: 32px;
  line-height: 18px;
  color: var(--special-gray-dark);
}

.catalog-cards div {
  background-color: var(--basic-gray);
}

/*Catalog navigation*/

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*Map*/

.map-card {
  margin: 0;
  padding: 0;
  font-style: normal;
}

.map {
  background-color: var(--basic-gray);
}

.map-card {
  background-color: var(--basic-white);
}

.map-card-title {
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.map-card-text,
.map-card-phone {
  font: inherit;
  color: inherit;
  line-height: 18px;
  color: var(--special-gray);
}

.map-card-phone {
  margin-bottom: 37px;
}

/*Footer*/

.social-list,
.footer-discount,
.social-link {
  margin: 0;
  padding: 0;
}

.footer-discount-title {
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

/*Social button*/

.social-list {
  list-style: none;
}

.social-link {
  color: inherit;
  color: var(--basic-white);
  background-color: var(--basic-gray-dark);

}

.social-link:hover,
.social-link:focus {
  background-color: var(--basic-pink);
}

.social-link:active {
  color: var(--basic-pink);
  background-color: var(--basic-pink-darker);
}
/*Перекрасить иконки соц сетей при активации!*/

/*Message*/

.popup {
  display: none;
}

.popup h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
  font-size: 45px;
  line-height: 53px;
  font-weight: bold;
}

.field span {
  line-height: 18px;
  font-weight: bold;
  color: var(--basic-black);
}

.field input,
.field textarea {
  font: inherit;
  color: var(--special-gray);
  border: 2px solid var(--basic-gray-dark);
}
