/*Variables*/

:root {
  --basic-black: #000000;
  --basic-gray-darker: #D5D5D5;
  --basic-gray-dark: #DFDFDF;
  --basic-gray: #EEEEEE;
  --basic-green-darker: #00AA62;
  --basic-green-dark: #00BC6C;
  --basic-green: #00CA74;
  --basic-pink-darker: #D7373B;
  --basic-pink-dark: #E74246;
  --basic-pink: #FB565A;
  --basic-yellow-darker: #E5A722;
  --basic-yellow-dark: #EAB534;
  --basic-yellow: #EFC84A;
  --basic-white: #FFFFFF;

  --special-gray-darker: #283136;
  --special-gray-dark: #666666;
  --special-gray: #999999;

}

/*Global*/

body {
  min-width: 1200px;
  margin: 0;
  padding: 0px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*Main navigation*/

.header {
  background-color: var(--basic-gray);
}

.main-navigation {
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
}

/*User navigation*/

.site-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
}

.site-navigation-link {
  font: inherit;
  color: inherit;
}

.site-navigation-link {
  color: var(--basic-black);
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  color: var(--basic-pink);
}

.basket {
  list-style: none;
  margin: 0;
  padding: 0;
}

.basket {
  color: var(--basic-black);
}

.basket:hover,
.basket:focus {
  color: var(--basic-pink);
}

/*Buttons*/

.button {
  font: inherit;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
  text-align: center;
  vertical-align: middle;
  line-height: 18px;
  font-weight: 500;
  text-transform: uppercase;
  border: none;
}

.button-pink {
  background-color: var(--basic-pink);
}

.button-pink:hover,
.button-pink:focus {
  background-color: var(--basic-pink-dark);
}

.button-pink:active {
  color: var(--basic-pink);
  background-color: var(--basic-pink-darker);
}

.button-green {
  background-color: var(--basic-green);
}

.button-green:hover,
.button-green:focus {
  background-color: var(--basic-green-dark);
}

.button-green:active {
  color: var(--basic-green);
  background-color: var(--basic-green-darker);
}

.button-yellow {
  background-color: var(--basic-yellow);
}

.button-yellow:hover,
.button-yellow:focus {
  background-color: var(--basic-yellow-dark);
}

.button-yellow:active {
  color: var(--basic-yellow);
  background-color: var(--basic-yellow-darker);
}

.button-gray {
  color: var(--basic-black);
  background-color: var(--basic-gray);
}

.button-gray:hover,
.button-gray:focus {
  background-color: var(--basic-gray-dark);
}

.button-gray:active {
  color: var(--special-gray);
  background-color: var(--basic-gray-darker);
}

/*Intro*/

.intro {
  background-color: var(--basic-gray);
}

.slider-item-title,
.slider-item-text {
  margin: 0;
}

.slider-item-title {
  margin-bottom: 25px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

/*Skills*/

.skills-card-title {
  margin: 0;
  padding: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

.skills-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*About*/

/*History*/

.history-title,
.history-text,
.history-item {
  margin: 0;
  padding: 0;
}

.history-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.history-title {
  margin-bottom: 32px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.history-subtitle {
  margin-bottom: 23px;
  line-height: 24px;
  text-transform: uppercase;
}

/*Features*/

.features-title,
.features-item,
.features-description,
.features-percent {
  margin: 0;
  padding: 0;
}

.features-title {
  margin-bottom: 31px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
}

.features-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.features-description {
  line-height: 18px;
}

.features-percent {
  margin-bottom: 11px;
  font-size: 45px;
  line-height: 64px;
  font-weight: bold;
}

.features-list sup {
  font-size: 26px;
  line-height: 40px;
}

/*Partners*/

.partners-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*Catalog sorting*/

.page-title {
  margin-bottom: 108px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  text-align: center;
  background-color: var(--basic-gray);
}

.filter-fieldset p,
.filter-legend {
  margin: 0;
  padding: 0;
}

.filter-legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-color: var(--basic-black);
  text-transform: uppercase;
}

.sorting-title {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  font-color: var(--basic-black);
  text-transform: uppercase;
}

.sorting-list {
  list-style: none;
}

.sorting-item-link {
  font: inherit;
  color: inherit;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.radio-button-label,
.checkbox-label {
  line-height: 19px;
  color: var(--special-gray-darker);
}

/*Catalog cards*/

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.catalog-card-text,
.catalog-card-title {
  margin: 0;
  padding: 0;
}

.catalog-card-title {
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.catalog-card-title-link {
  color: inherit;
}

.catalog-card-text {
  margin-bottom: 32px;
  line-height: 18px;
  color: var(--special-gray-dark);
}

.catalog-card-content {
  background-color: var(--basic-gray);
}

/*Catalog navigation*/

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/*Map*/

.map-card {
  margin: 0;
  padding: 0;
  font-style: normal;
}

.map {
  background-color: var(--basic-gray);
}

.map-card {
  background-color: var(--basic-white);
}

.map-card-title {
  margin-bottom: 23px;
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.map-card-text {
  font: inherit;
  color: inherit;
  margin-bottom: 37px;
  line-height: 18px;
  color: var(--special-gray);
}

/*Footer*/

.main-footer-message {
  margin: 0;
  padding: 0;
}

.main-footer-title {
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
}

/*Social button*/

.social-list,
.social-link {
  margin: 0;
  padding: 0;
}

.social-list {
  list-style: none;
}

.social-link {
  color: inherit;
  color: var(--basic-white);
  background-color: var(--basic-gray-dark);

}

.social-link:hover,
.social-link:focus {
  background-color: var(--basic-pink);
}

.social-link:active {
  color: var(--basic-pink);
  background-color: var(--basic-pink-darker);
}
/*Перекрасить иконки соц сетей при активации!*/

/*Message*/

.popup {
  /*display: none;*/
}

.popup-title {
  margin: 0;
  padding: 0;
  margin-bottom: 37px;
  font-size: 45px;
  line-height: 53px;
  font-weight: bold;
}

.field-label {
  line-height: 18px;
  font-weight: bold;
  color: var(--basic-black);
}

.field-input,
.field-textarea {
  font: inherit;
  color: var(--special-gray);
  border: 2px solid var(--basic-gray-dark);
}
